.about {
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 35px;
}

.about__title {
  margin-top: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  padding-right: 125px;
  padding-left: 125px;
}

.about__item:not(:last-child) {
  padding-right: 25px;
}

.about__number {
  color: $button-color;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}

.about__item {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
}

.about__text {
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: $max-tablet-width) {
  .about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 25px;
  }

  .about__item:not(:last-child) {
    padding-right: 30px;
  }

  .about__item {
    margin-bottom: 40px;
  }

  .about__title {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }
}

@media (max-width: $max-mobile-width) {
  .about__list {
    display: flex;
    flex-direction: column;
  }

  .about__item {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .about__item:not(:last-child) {
    padding-right: 0;
}
}
