.catalog {
  background-color: $light-grey;
  padding-top: 144px;
  padding-bottom: 138px;
}

.catalog__inner {
  position: relative;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 51px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
}

.catalog__list {
  list-style: none;
  margin: 0;
  display: flex;
  text-align: center;
  padding-left: 120px;
  padding-right: 141px;
}

.catalog__link {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  margin-top: 20px;
}

.catalog__link:hover,
.catalog__link:focus {
  color: $hover-catalog;
}

.catalog__item:not(:last-child) {
  padding-right: 15px;
}

.catalog__item:first-child {
  z-index: 1;
  margin-top: 10px;
}

.catalog__item:nth-child(2) {
  margin-top: 40px;
}

.catalog__image {
  margin-bottom: 10px;
}

.catalog__bigellipse-tablet,
.catalog__smallellipse-tablet {
  display: none;
}

.catalog__smallellipse-desktop,
.catalog__bigellipse-desktop {
  position: absolute;
}

.catalog__smallellipse-desktop {
  top: 58px;
  right: 125px;
}

.catalog__bigellipse-desktop {
  top: 254px;
  left: 94px;
}

.catalog__rectangle-right,
.catalog__rectangle-left {
  position: absolute;
}

.catalog__rectangle-right {
  top: 112px;
  left: 527px;
}

.catalog__rectangle-left {
  bottom: 42px;
  right: 529px;
}

@media (max-width: $max-tablet-width) {
  .catalog__smallellipse-desktop,
  .catalog__bigellipse-desktop,
  .catalog__rectangle-right,
  .catalog__rectangle-left {
    display: none;
  }

  .catalog__bigellipse-tablet,
  .catalog__smallellipse-tablet {
    display: block;
    position: absolute;
  }

  .catalog {
    padding-top: 49px;
    padding-bottom: 71px;
  }

  .catalog__link {
    margin-top: 15px;
  }

  .catalog__list {
    padding: 0px 90px;
  }

  .catalog__title {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 43px;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
  }

  .catalog__item:nth-child(2),
  .catalog__item:first-child {
    margin-top: 0;
  }

  .catalog__item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .catalog__image {
    margin-bottom: 0;
  }

  .catalog__item:not(:last-child) {
    padding-right: 0;
  }

  .catalog__bigellipse-tablet {
    top: 270px;
    left: 51px;
  }

  .catalog__smallellipse-tablet {
    top: 456px;
    left: 478px;
  }
}

@media (max-width: $max-mobile-width) {
  .catalog {
    padding-bottom: 53px;
  }

  .catalog__list {
    display: flex;
    flex-direction: column;
    padding: 0 0;
  }

  .catalog__title {
    margin-bottom: 30px;
  }

  .catalog__link {
    margin-top: 12px;
  }

  .catalog__smallellipse-tablet {
    top: 846px;
    left: 241px;
  }

  .catalog__bigellipse-tablet {
    top: 274px;
    left: 2px;
  }
}
