.footer {
    margin-bottom: 100px;
}

.footer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  line-height: 30px;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 0;
  color: $black-title;
}

.footer__text {
  line-height: 31px;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 41px;
  margin-top: 0;
  opacity: 0.7;
  max-width: 345px;
  text-align: center;
}

.footer__map {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footer__contacts {
  display: flex;
  justify-content: center;
}

.footer__link {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.5;
}

.footer__link-mail {
  line-height: 22px;
}

.footer__link-tel {
  line-height: 29px;
}


.footer__link-mail,
.footer__link-tel {
  position: relative;
}

.footer__link:not(:last-child) {
  padding-right: 140px;
}

.footer__link-mail::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 3px;
  background-repeat: no-repeat;
  width: 26px;
  height: 20px;
  background-image: url(../img/icon-mail.svg);
}

.footer__link-tel::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 2px;
  background-repeat: no-repeat;
  width: 22px;
  height: 23px;
  background-image: url(../img/icon-phone.svg);
}

@media (max-width: $max-tablet-width) {
  .footer {
    margin-bottom: 50px;
  }

  .footer__title,
  .footer__text,
  .footer__map {
    margin-bottom: 20px;
  }

  .footer__title {
    line-height: 24px;
    margin-top: 0;
  }

  .footer__text {
    max-width: 645px;
  }
}

@media (max-width: $max-mobile-width) {
  .footer__title {
    font-size: 18px;
  }

  .footer__text {
    margin-bottom: 25px;
    max-width: 235px;
  }

  .footer__map {
    margin-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
  }

  .container {
    padding: 0;
  }

  .footer__contacts {
    flex-direction: column;
  }

  .footer__link:not(:last-child) {
    padding-right: 0;
  }

  .footer__link-mail {
    margin-bottom: 22px;
  }

  .footer__link-mail,
  .footer__link-tel {
    padding-right: 45px;
    padding-left: 45px;
  }

  .footer__link-mail::before,
  .footer__link-tel::before {
    left: 10px;
  }
}