.main__inner {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
  padding-top: 175px;
}

.main__header {
  display: flex;
  flex-direction: column;
  width: 390px;
}

.main__form {
  width: 330px;
}

.main__title,
.main__text,
.main__form-header {
  color: $white;
}

.main__text,
.main__form-header {
  margin-top: 0;
}

.main__title {
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 40px;
}

.main__text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 0;
  max-width: 380px;
}

.main__form-header {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  max-width: 330px;
  text-align: center;
}

.main__form-name,
.main__form-phone {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.main__form-name,
.main__form-phone {
  min-width: 330px;
  padding: 20px 10px;
}

.main__form-button {
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  color: $black;
  padding: 20px 52px;
  background-color: $button-color;
  border: none;
}

@media (max-width: $max-tablet-width) {
  .container {
    margin: 0 auto;
  }

  .main__inner {
    flex-direction: column;
    align-items: center;
    padding-top: 135px;
    padding-bottom: 70px;
  }

  .main__form-header {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 330px;
    text-align: center;
    color: $black;
    margin-top: 30px;
  }
  
  .main__header {
    width: 435px;
    text-align: center;
    margin-bottom: 170px;
  }

  .main__title {
    margin-top: 0;
    font-size: 30px;
    line-height: 42px;
  }

  .main__text {
    font-size: 18px;
    min-width: 435px;
  }

  .main__form-name,
  .main__form-phone {
    padding: 12px 10px;
  }

  .main__form-button {
    padding: 20px 54px;
  }
}

@media (max-width: $max-mobile-width) {
  .main__inner {
    padding-top: 120px;
    padding-bottom: 70px;
  }

  .main__header {
    max-width: 300px;
    margin-bottom: 120px;
  }

  .main__form-information {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    align-items: center;
  }

  .main__text {
    min-width: 300px;
  }

  .main__form-header {
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .main__form-name,
  .main__form-phone {
    min-width: 290px;
    padding: 12px 10px;
  } 

  .main__form-button {
    padding: 14px 35px;
  }
}