.main__inner {
  display: flex;
  justify-content: space-around;
  padding-bottom: 330px;
  padding-top: 175px;
  padding-right: 190px;
  padding-left: 191px;
}

.main__header {
  display: flex;
  flex-direction: column;
  width: 390px;
  margin-top: 159px;
}

.main__form {
  width: 330px;
  margin-top: 152px;
}

.main__title,
.main__text,
.main__form-header {
  color: $white;
}

.main__text,
.main__form-header {
  margin-top: 0;
}

.main__title {
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 40px;
}

.main__text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 0;
  max-width: 380px;
}

.main__form-header {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  max-width: 330px;
  text-align: center;
}

.main__form-name,
.main__form-phone {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.main__form-name,
.main__form-phone {
  min-width: 326px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid $border-color;
}

.main__form-button {
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  color: $black;
  padding: 14px 52px;
  background-color: $button-color;
  border: none;
  border-radius: 5px;
}

@media (max-width: $max-tablet-width) {
  .container {
    margin: 0 auto;
  }

  .main__inner {
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 74px;
  }

  .main__form {
    margin-top: 149px;
  }

  .main__form-header {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 330px;
    text-align: center;
    color: $black;
  }

  .main__header {
    width: 435px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 130px;
  }

  .main__title {
    margin-top: 0;
    font-size: 30px;
    line-height: 42px;
  }

  .main__text {
    font-size: 18px;
    min-width: 435px;
  }

  .main__form-name,
  .main__form-phone {
    padding: 10px 10px;
  }

  .main__form-button {
    padding: 15px 54px;
  }
}

@media (max-width: $max-mobile-width) {
  .main__inner {
    padding-top: 120px;
    padding-bottom: 70px;
    padding-right: 0;
    padding-left: 0;
  }

  .main__form {
    width: 320px;
    margin-top: 134px;
  }

  .main__header {
    max-width: 300px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .main__form-information {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    align-items: center;
  }

  .main__text {
    min-width: 300px;
  }

  .main__form-header {
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .main__form-name,
  .main__form-phone {
    min-width: 290px;
    padding: 12px 10px;
  }

  .main__form-button {
    padding: 14px 35px;
  }
}
