.main__inner {
  display: flex;
  justify-content: space-around;
  padding: 175px 190px 239px 191px;
}

.main__header {
  display: flex;
  flex-direction: column;
  width: 390px;
  margin-top: 159px;
}

.main__form {
  width: 353px;
  margin-top: 152px;
}

.main-tablet {
  display: none;
}

.main__title,
.main__text,
.main__form-header {
  color: $white;
}

.main__text,
.main__form-header {
  margin-top: 0;
}

.main__title {
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 40px;
}

.main__text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 0;
  max-width: 380px;
}

.main__form-header {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  max-width: 330px;
  text-align: center;
}

.main__form-name,
.main__form-phone {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid $border-color;
  min-width: 326px;
  padding: 10px 10px;
}

.main__form-button {
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  color: $black;
  padding: 14px 52px;
  background-color: $button-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main__form-button:hover,
.main__form-button:focus {
  background-color: $hover;
}

.main__form-information {
  padding-left: 10px;
}

@media (max-width: $max-tablet-width) {
  .container {
    margin: 0 auto;
  }

  .main__inner {
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 80px;
  }

  .main-tablet {
    background-color: $white;
    padding-top: 20px;
    padding-bottom: 71px;
    display: block;
  }

  .main-tablet__data {
    padding: 0px 161px;
  }

  .main__form {
    display: none;
  }

  .main-tablet__form {
    display: block;
    margin-top: 50px;
    padding: 0 50px;
    text-align: center;
  }

  .main-tablet__header {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    color: $black;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
  }

  .main__header {
    width: 435px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 130px;
  }

  .main__title {
    margin-top: 0;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 21px;
  }

  .main__text {
    font-size: 18px;
    min-width: 435px;
  }

  .main-tablet__name,
  .main-tablet__phone {
    margin-bottom: 22px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #c9ccd4;
    min-width: 322px;
    padding: 10px 21px;
}

  .main-tablet__button {
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    color: $black;
    padding: 15px 48px;
    background-color: $button-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .main-tablet__button:hover,
  .main-tablet__button:focus {
    background-color: $hover;
  }
}

@media (max-width: $max-mobile-width) {
  .main__inner {
    padding-top: 120px;
    padding-bottom: 70px;
    padding-right: 0;
    padding-left: 0;
  }

  .main-tablet {
    min-width: 320px;
    margin-top: 0;
  }

  .main-tablet__data {
    padding: 0 0;
  }

  .main-tablet__form {
    padding: 0 10px;
  }

  .main__header {
    max-width: 300px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .main-tablet__information {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    align-items: center;
  }

  .main__text {
    min-width: 300px;
  }

  .main-tablet__header {
    margin-bottom: 19px;
    padding: 0 10px;
  }

  .main-tablet__name,
  .main-tablet__phone {
    min-width: 290px;
    padding: 12px 27px;
    margin-bottom: 18px;
  }

  .main-tablet__button {
    padding: 14px 35px;
  }
}
