.navigation {
  margin-top: 21px;
}

.navigation__logo {
  position: absolute;
  top: 290px;
  left: 75px;
}

.navigation__toggles {
  display: none;
}

.navigation__close,
.navigation__open,
.navigation__toggle {
  border: none;
  background-color: inherit;
}

.navigation__toggle-open {
  background-color: $navigation;
  width: 50px;
  height: 50px;
}

.navigation__toggle-close {
  color: $navigation-close;
}

.navigation__open {
  width: 30px;
  height: 30px;
  color: $black;
}

.navigation__close {
  width: 22px;
  height: 22px;
  display: none;
}


.navigation__logo {
  position: absolute;
}

.navigation__destinations {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  padding-left: 0;
  justify-content: center;
}

.navigation__destinations::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 65px;
  right: 0;
  max-width: 875px;
  border-bottom: 1px solid $border;
}

.navigation__button {
  border: none;
  background-color: inherit;
  color: $white;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  opacity: 0.7;
  padding-right: 0;
  padding-left: 0;
  cursor: pointer;
}

.navigation__item:not(:last-child) {
  padding-right: 135px;
}

.navigation__buttons {
  position: relative;
}

@media (max-width: $max-tablet-width) {
  .navigation__inner {
    width: 100%;
  }

  .navigation__logo {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navigation__toggles {
    display: block;
    z-index: 2;
  }

  .navigation__logo,
  .navigation__destinations,
  .navigation__buttons {
    width: 100%;
  }

  .navigation__buttons {
    display: flex;
  }

  .navigation__destinations {
    position: relative;
    flex-direction: column;
  }

  .navigation__item {
    background-color: $navigation-menu-background;
    margin-bottom: 30px;
    padding: 15px 0 15px 15px;
    position: relative;
  }

  .navigation__item::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-image: url(../img/icon-arrow.svg);
  }

  .navigation__item:not(:last-child) {
    padding-right: 0;
  }

  .navigation__button {
    color: $navigation-item-tablet;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  .navigation__destinations::after {
    content: none;
  }

  .navigation__close {
    display: block;
  }

  .navigation__toggle-close {
    padding-top: 10px;
    padding-right: 30px;
  }

  .hidden {
    display: none;
  }
}