.video {
  background-color: $background-for-video;
  min-height: 706px;
}

.video__inner {
  position: relative;
}

.video__image {
  position: absolute;
  left: 49.5%;
  transform: translateX(-50%);
  top: 115%;
}

.video__header {
  display: flex;
  flex-direction: column;
  //align-items: center;
  padding-top: 123px;
  //padding-right: 326px;
  //padding-left: 305px;
  //text-align: center;
}

.video__title,
.video__text {
  color: $white;
  margin-top: 0;
}

.video__title {
  margin-bottom: 19px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  max-width: 1400px;
  text-align: center;
}

.video__text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  max-width: 331px;
    /* text-align: center; */
  align-self: center;
  //padding: 0 200px;
}

.video__button {
  min-width: 65px;
  height: 65px;
  background-color: $button-color;
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  left: 45%;
  transform: translateX(50%);
  top: 207%;
  display: flex;
  cursor: pointer;
  border: none;
}

.video__button:hover,
.video__button:focus {
  background-color: $hover;
}

.video__button-svg {
  margin: auto auto;
  width: 13px;
  height: 18px;
}

@media (max-width: $max-tablet-width) {
  .video {
    min-height: 413px;
  }

  .video__title {
    font-size: 24px;
  }

  .video__header {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 70px;
  }

  .video__image {
    top: 110%;
  }

  .video__button {
    left: 39%;
    top: 159%;
    min-width: 90px;
    height: 90px;
  }

  .video__text {
    padding: 0 15px;
  }
}

@media (max-width: $max-mobile-width) {
  .video {
    min-height: 380px;
  }

  .video__title {
    font-size: 24px;
  }

  .video__header {
    padding-right: 12px;
    padding-left: 11px;
    padding-top: 85px;
  }

  .video__image {
    top: 114%;
  }

  .video__button {
    min-width: 65px;
    height: 65px;
    left: 31%;
    top: 134%;
  }

  .video__text {
    padding: 0 0;
  }
}
