/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/open-sans-v18-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-300.woff") format("woff"); }

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/open-sans-v18-latin_cyrillic-400.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-400.woff") format("woff"); }

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff"); }

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

a {
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.hidden {
  display: none; }

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 10px 10px; }

@media (max-width: 1023px) {
  .container {
    width: 767px; } }

@media (max-width: 767px) {
  .container {
    width: 320px; } }

@media (max-width: 319px) {
  .container {
    width: 320px; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: destinations-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

html {
  height: 100%; }

.page {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  min-height: 100%;
  color: #000000; }

.page-content {
  background-image: url("../img/background-desktop.jpg");
  background-size: 100%;
  background-position: 50% 0;
  margin-top: -57px;
  background-repeat: no-repeat; }

.page-header {
  margin-top: -21px; }

.include {
  display: none; }

@media (max-width: 1023px) {
  .page-content {
    background-image: url("../img/background-tablet.jpg");
    background-size: 100% 410px;
    background-position: 50% 0;
    margin-top: -57px;
    background-repeat: no-repeat; } }

@media (max-width: 767px) {
  .page-content {
    background-image: url("../img/background-mobile.jpg");
    background-size: 100% 410px;
    background-position: 50% 0;
    margin-top: -57px;
    background-repeat: no-repeat; } }

.navigation {
  margin-top: 21px; }

.navigation__logo {
  position: absolute;
  top: 175px;
  left: 75px; }

.navigation__toggles {
  display: none; }

.navigation__close,
.navigation__open,
.navigation__toggle {
  border: none;
  background-color: inherit; }

.navigation__toggle-open {
  background-color: #0AD9C6;
  width: 50px;
  height: 50px; }

.navigation__toggle-close {
  color: rgba(20, 21, 23, 0.2); }

.navigation__open {
  width: 30px;
  height: 30px;
  color: #000000; }

.navigation__close {
  width: 22px;
  height: 22px;
  display: none; }

.navigation__destinations {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  padding-left: 0;
  justify-content: center; }

.navigation__destinations::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 65px;
  right: 0;
  max-width: 875px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.navigation__button {
  border: none;
  background-color: inherit;
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  opacity: 0.7;
  padding-right: 0;
  padding-left: 0;
  cursor: pointer; }

.navigation__item:not(:last-child) {
  padding-right: 135px; }

.navigation__buttons {
  position: relative; }

@media (max-width: 1023px) {
  .navigation__inner {
    width: 100%; }
  .navigation__logo {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .navigation__toggles {
    display: block;
    z-index: 2; }
  .navigation__logo,
  .navigation__destinations,
  .navigation__buttons {
    width: 100%; }
  .navigation__buttons {
    display: flex; }
  .navigation__destinations {
    position: relative;
    flex-direction: column; }
  .navigation__item {
    background-color: #F6F6F6;
    margin-bottom: 30px;
    padding: 15px 0 15px 15px;
    position: relative; }
  .navigation__item::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-image: url(../img/icon-arrow.svg); }
  .navigation__item:not(:last-child) {
    padding-right: 0; }
  .navigation__button {
    color: #48494D;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400; }
  .container {
    margin: 0;
    padding: 0; }
  .navigation__destinations::after {
    content: none; }
  .navigation__close {
    display: block; }
  .navigation__toggle-close {
    padding-top: 10px;
    padding-right: 30px; }
  .hidden {
    display: none; } }

.main__inner {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
  padding-top: 175px; }

.main__header {
  display: flex;
  flex-direction: column;
  width: 390px; }

.main__form {
  width: 330px; }

.main__title,
.main__text,
.main__form-header {
  color: #ffffff; }

.main__text,
.main__form-header {
  margin-top: 0; }

.main__title {
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 40px; }

.main__text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 0;
  max-width: 380px; }

.main__form-header {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  max-width: 330px;
  text-align: center; }

.main__form-name,
.main__form-phone {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400; }

.main__form-name,
.main__form-phone {
  min-width: 330px;
  padding: 20px 10px; }

.main__form-button {
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  color: #000000;
  padding: 20px 52px;
  background-color: #0AD9C6;
  border: none; }

@media (max-width: 1023px) {
  .container {
    margin: 0 auto; }
  .main__inner {
    flex-direction: column;
    align-items: center;
    padding-top: 135px;
    padding-bottom: 70px; }
  .main__form-header {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 330px;
    text-align: center;
    color: #000000;
    margin-top: 30px; }
  .main__header {
    width: 435px;
    text-align: center;
    margin-bottom: 170px; }
  .main__title {
    margin-top: 0;
    font-size: 30px;
    line-height: 42px; }
  .main__text {
    font-size: 18px;
    min-width: 435px; }
  .main__form-name,
  .main__form-phone {
    padding: 12px 10px; }
  .main__form-button {
    padding: 20px 54px; } }

@media (max-width: 767px) {
  .main__inner {
    padding-top: 120px;
    padding-bottom: 70px; }
  .main__header {
    max-width: 300px;
    margin-bottom: 120px; }
  .main__form-information {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    align-items: center; }
  .main__text {
    min-width: 300px; }
  .main__form-header {
    margin-bottom: 20px;
    padding: 0 10px; }
  .main__form-name,
  .main__form-phone {
    min-width: 290px;
    padding: 12px 10px; }
  .main__form-button {
    padding: 14px 35px; } }

.about {
  background-color: #ffffff;
  padding-top: 65px;
  padding-bottom: 130px; }

.about__title {
  margin-top: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center; }

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center; }

.about__item:not(:last-child) {
  padding-right: 40px; }

.about__number {
  color: #0AD9C6;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700; }

.about__item {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400; }

.about__text {
  margin-top: 20px;
  margin-bottom: 0; }

@media (max-width: 1023px) {
  .about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 25px; }
  .about__item:not(:last-child) {
    padding-right: 30px; }
  .about__item {
    margin-bottom: 40px; } }

.catalog {
  background-color: #F6F7F9;
  padding-top: 150px;
  padding-bottom: 147px; }

.catalog__inner {
  position: relative; }

.catalog__title {
  margin-top: 0;
  margin-bottom: 51px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  text-align: center; }

.catalog__list {
  list-style: none;
  margin: 0;
  display: flex;
  text-align: center;
  padding: 0 30px; }

.catalog__link {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  margin-top: 20px; }

.catalog__item:not(:last-child) {
  padding-right: 50px; }

.catalog__item:first-child {
  z-index: 1;
  margin-top: 10px; }

.catalog__item:nth-child(2) {
  margin-top: 40px; }

.catalog__image {
  margin-bottom: 20px; }

.catalog__bigellipse-tablet,
.catalog__smallellipse-tablet {
  display: none; }

.catalog__smallellipse-desktop,
.catalog__bigellipse-desktop {
  position: absolute; }

.catalog__smallellipse-desktop {
  top: 50px;
  left: 927px; }

.catalog__bigellipse-desktop {
  top: 250px;
  left: -50px; }

.catalog__rectangle-right,
.catalog__rectangle-left {
  position: absolute; }

.catalog__rectangle-right {
  top: 112px;
  left: 355px; }

.catalog__rectangle-left {
  bottom: 55px;
  left: 640px; }

@media (max-width: 1023px) {
  .catalog__smallellipse-desktop,
  .catalog__bigellipse-desktop,
  .catalog__rectangle-right,
  .catalog__rectangle-left {
    display: none; }
  .catalog__bigellipse-tablet,
  .catalog__smallellipse-tablet {
    display: block;
    position: absolute; }
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px; }
  .catalog__item {
    display: flex;
    flex-direction: column; }
  .catalog__item:nth-child(2),
  .catalog__item:first-child {
    margin-top: 0; }
  .catalog__item:last-child {
    grid-column-start: 1;
    grid-column-end: 3; }
  .catalog__image {
    margin-bottom: 0; }
  .catalog__item:not(:last-child) {
    padding-right: 0; }
  .catalog__bigellipse-tablet {
    top: 293px;
    left: 22px; }
  .catalog__smallellipse-tablet {
    top: 456px;
    left: 478px; } }

.video {
  background-color: #131314;
  min-height: 706px; }

.video__inner {
  position: relative; }

.video__image {
  position: absolute;
  position: absolute;
  left: -41%;
  transform: translateX(50%);
  top: 100%; }

.video__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-right: 305px;
  padding-left: 305px;
  text-align: center; }

.video__title,
.video__text {
  color: #ffffff;
  margin-top: 0; }

.video__title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600; }

.video__text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300; }

.video__button {
  min-width: 65px;
  height: 65px;
  background-color: #0AD9C6;
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  left: 44%;
  transform: translateX(50%);
  top: 185%;
  display: flex; }

.video__button-svg {
  margin: auto auto; }

@media (max-width: 1023px) {
  .video {
    min-height: 413px; }
  .video__title {
    font-size: 24px; }
  .video__header {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 70px; }
  .video__image {
    left: -17%;
    top: 105%; } }

.footer {
  padding-bottom: 100px;
  padding-top: 150px; }

.footer__header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__title {
  line-height: 30px;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 0;
  color: #1f1f1f; }

.footer__text {
  line-height: 31px;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 41px;
  margin-top: 0;
  opacity: 0.7;
  max-width: 345px;
  text-align: center; }

.footer__map {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }

.footer__contacts {
  display: flex;
  justify-content: center; }

.footer__link {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.5; }

.footer__link-mail {
  line-height: 22px; }

.footer__link-tel {
  line-height: 29px; }

.footer__link-mail,
.footer__link-tel {
  position: relative; }

.footer__link:not(:last-child) {
  padding-right: 140px; }

.footer__link-mail::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 3px;
  background-repeat: no-repeat;
  width: 26px;
  height: 20px;
  background-image: url(../img/icon-mail.svg); }

.footer__link-tel::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 2px;
  background-repeat: no-repeat;
  width: 22px;
  height: 23px;
  background-image: url(../img/icon-phone.svg); }

.footer__map iframe {
  width: 100%;
  position: absolute;
  z-index: 1;
  border: 0;
  left: 0;
  right: 0;
  min-height: 530px; }

@media (max-width: 1023px) {
  .footer {
    margin-bottom: 50px;
    padding-top: 200px; }
  .footer__title,
  .footer__text,
  .footer__map {
    margin-bottom: 20px; }
  .footer__title {
    line-height: 24px;
    margin-top: 0; }
  .footer__text {
    max-width: 645px; }
  .footer__map iframe {
    min-height: 545px; } }

@media (max-width: 767px) {
  .footer__title {
    font-size: 18px; }
  .footer__text {
    margin-bottom: 25px;
    max-width: 235px; }
  .footer__map {
    margin-bottom: 30px;
    padding-right: 0;
    padding-left: 0; }
  .footer__contacts {
    flex-direction: column;
    align-items: center; }
  .footer__link:not(:last-child) {
    padding-right: 0; }
  .footer__link-mail {
    margin-bottom: 22px; }
  .footer__link-mail,
  .footer__link-tel {
    padding-right: 45px;
    padding-left: 45px; }
  .footer__link-mail::before,
  .footer__link-tel::before {
    left: 10px; }
  .footer__map iframe {
    min-height: 250px; } }

/*# sourceMappingURL=style.css.map */
