$black: #000000;
$white: #ffffff;
$border: rgba(255, 255, 255, 0.2);
$black-title: #1f1f1f;
$navigation: #0AD9C6;
$navigation-close: rgba(20, 21, 23, 0.2);
$navigation-item-tablet: #48494D;
$navigation-menu-background: #F6F6F6;
$button-color: #0AD9C6;
$background-for-video: #131314;
$light-grey: #F6F7F9;
$border-color: #C9CCD4;
