@import "viewports";
@import "colors";
@import "fonts";
@import "different";
@import "container";
@import "normalize";
@import "blocks/page";
@import "blocks/navigation";
@import "blocks/form";
@import "blocks/about";
@import "blocks/catalog";
@import "blocks/video";
@import "blocks/footer";